<div id="main">

</div>

<script>
  $(document).ready(function(){
    window.currentUserAvatarUrl = "<%= current_user.gravatar %>"; //if i need current user

    HabitrackApp.initialize();
  });
</script>
