<div id="main">

</div>

<script>
  $(document).ready(function(){
    window.currentUserAvatarUrl = "<%= current_user.gravatar %>";
    window.currentUserId = <%= current_user.id %>;

    HabitrackApp.initialize();
  });
</script>
