<div class="row sign-in-row">

  <div class="col-xs-7 col-xs-offset-1 left-side-login">

  </div>
  <div class="col-xs-4" id="sign_up_form">
    <h1>Log In</h1>
    <form role="form" action="<%= session_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <!-- <label for="username_input">Username</label> -->
        <input type="text"
               class="form-control"
               name="username"
               id="username_input"
               placeholder="Username"
               value="<%= @user.username %>">
      </div>

      <div class="form-group">
        <!-- <label for="password_input">Password</label> -->
        <input type="password"
               class="form-control"
               name="password"
               id="password_input"
               placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
      <span class="alternate-login-link">
        <%= link_to "Not signed up? Sign up here", new_user_url %>
      </span>
    </form>

  </div>
</div>
