<div id="friend-search">
  <button class="btn btn-default" id="friend-search-btn"> + </button>

  <form id="friend-search-form" class="hidden">
  <input type="text" class="form-control typeahead" name="username" placeholder="Friend's Username">
  <input type="submit" class="btn btn-default" value="+">
  </form>
</div>

<div id="list-o-friends">

</div>
