<div class='friend-score-box'>
  <something class='friend-score'><%= score %></something>
  <div class='friend-icon'><img src="<%= friend.escape('gravatar') + '?s=50&d=retro'%>"></div>
</div>
<div class="friend-name"><%= friend.escape('username') %></div>
