<div class="user-avatar">
  <img src="<%= window.currentUserAvatarUrl + '?d=retro&s=110'%>">
</div>

<div class="this-week">
  <h3>This Week</h3>
  <span class="score" id="current-score"></span>
</div>

<div class="month-avg">
  <h3>4 week<br>avg</h3>
  <span class="score" id="average-score"> <%= average %> </span>
</div>
