<div class="user-avatar">

</div>

<div class='this-week'>
  <h3>This Week</h3>
  <span class='score'><%= Math.floor(habits.totalPoints()) %></span>
</div>

<div class='month-avg'>
  <h3>4 week<br>avg</h3>
  <span class='score'> 0 </span>
</div>
