
<h3>Progress this week</h3>
<div class="stack-chart-box">
  <div>M</div>
  <div>T</div>
  <div>W</div>
  <div>T</div>
  <div>F</div>
  <div>S</div>
  <div>S</div>
  <div class="bottom-bar"><h3>0%<div class='percent-bar'></div>100%</h3></div>
</div>

<h3>Scores by week</h3>
<div class="main-chart-box">
  <canvas id="main-chart" width="325" height="150"></canvas>
</div>
