<h1>Sign Up</h1>

<div class="row">
  <div class="col-xs-5" id="sign_up_form">

    <form role="form" action="<%= users_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label for="username_input">Username</label>
        <input type="text"
               class="form-control"
               name="username_input"
               placeholder="habitrabbit123"
               value="<%= @user.username %>">
      </div>
      <div class="form-group">
        <label for="email_input">Email</label>
        <input type="text"
               class="form-control"
               name="email_input"
               placeholder="ex. habits@rabbits.com"
               value="<%= @user.email %>">
      </div>
      <div class="form-group">
        <label for="password_input">Password</label>
        <input type="password"
               class="form-control"
               name="password_input"
               placeholder="Make it a good one!">
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

  </div>
</div>
