
<div class="btn-circle" data-day="mon">M</div>
<div class="btn-circle" data-day="tue">T</div>
<div class="btn-circle" data-day="wed">W</div>
<div class="btn-circle" data-day="thr">T</div>
<div class="btn-circle" data-day="fri">F</div>
<div class="btn-circle" data-day="sat">S</div>
<div class="btn-circle" data-day="sun">S</div>
