
<button class="btn btn-default btn-circle" data-day="mon">M</button>
<button class="btn btn-default btn-circle" data-day="tue">T</button>
<button class="btn btn-default btn-circle" data-day="wed">W</button>
<button class="btn btn-default btn-circle" data-day="thr">T</button>
<button class="btn btn-default btn-circle" data-day="fri">F</button>
<button class="btn btn-default btn-circle" data-day="sat">S</button>
<button class="btn btn-default btn-circle" data-day="sun">S</button>
