<div class="form-group">
  <label for="habit_title">Title</label>
  <input id="habit_title"
         class="form-control"
         type="text"
         name="title"
         value="<%= habit.escape('title')%>">
</div>
