<div class="row">
  <div class="left-side col-xs-7">

    <h1 class="habit-h1" id="tour-1">Habits</h1>
    <button class="btn btn-default" id="tour-btn">?</button>

    <div class="habits">
    </div>
    <div class="new-habit-area">
      <button class="btn btn-primary add-new-habit" id="tour-2">+ New Habit</button>

      <div class="new-habit-form hidden">

      </div>
    </div>
  </div>

  <div class="right-side col-xs-5">

  </div>
</div>
