<div class="row">
  <div class="left-side col-xs-7">

    <h1 class="habit-h1" id="tour-1">Habits</h1>
    <div class="add-new-habit" id="tour-2">+</div>
    <div id="tour-btn">?</div>

    <div class="habits">
    </div>
    <div class="new-habit-area">

      <div class="new-habit-form hidden">

      </div>
    </div>
  </div>

  <div class="right-side">

  </div>
</div>
