<h1>Habits Index Page! You made it!</h1>
<div class="row">
  <div class="col-xs-7 habits">

  </div>
</div>

<div class="row">
  <button>Add a habit</button>
  <div class="new-habit-form col-xs-7">

  </div>
</div>
