<h1>Habits</h1>
<div class="row">
  <div class="left-side col-xs-7">
    <div class="habits">
    </div>
    <div class="new-habit-area">
      <button class="btn btn-primary add-new-habit">+ New Habit</button>

      <div class="new-habit-form hidden">

      </div>
    </div>
  </div>

  <div class="right-side col-xs-5">
    <div class="top-user-score">
      
    </div>
  </div>
</div>
