

<strong><%= habit.escape("title") %></strong>
<button class='btn btn-danger delete-habit-btn hidden'>delete habit</button>

<div class="modal" id="<%="modal" + habit.id%>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h2 class="modal-title"><%= habit.escape("title") %></h2>
      </div>
      <div class="modal-body">
        You made it to the modal body!
        <div class="habit-edit-form">

        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
