
  <div class="title"><%= habit.escape("title") %></div>

  <div class="habit-btns hidden">
  <div class="edit-habit-btn">
     <span class="glyphicon glyphicon-pencil"></span>
  </div>
   &nbsp;
  <div class='delete-habit-btn'><span class="glyphicon glyphicon-remove"></span></div>
  </div>



<div class="edit-habit-form hidden">

</div>

<div>
  <div class="days">

  </div>

  <div class="stats">
  </div>
</div>
