
  <div class="title"><%= habit.escape("title") %></div>

  <div class="habit-btns hidden">
  <button class="btn btn-primary btn-sm edit-habit-btn">
     <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button class='btn btn-danger btn-sm delete-habit-btn'>delete</button>
  </div>



<div class="edit-habit-form hidden">

</div>

<div>
  <div class="days">

  </div>

  <div class="stats">
  </div>
</div>
