<span class="glyphicon glyphicon-record"></span>
<strong>
<%= habitDays.length %> of
<%= habit.escape('num_days_per_week') %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
W:
<%= Math.floor(habit.weightedPoints()) %>
</strong>
