/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

body {
  color: #4e4e4e;
  background-color: #ededed;
  padding-bottom: 25px;

}

h1 {
  color: #9f9f9f;
}

// .View {
//   border: thin solid blue;
// }

// *** alerts ***
.alert {
  text-align: center;
}

// *** navbar ***

#logo {
  // background-image: url("/assets/logoSym.png");
  height: 30px;
  width: 30px;
  margin-top: -4px;
  // display: inline-block;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

// *** signin/login pages ***

.sign-in-row {
  margin-top: 70px;
}

.alternate-login-link {
  float: right;
  padding-top: 15px;
}

.left-side-login {
  background-image: url("/assets/tempLogo.png");
  width: 371px;
  height: 257px;

}

#sign_up_form {
  padding-top: 30px;
}

// *** habit views ***

.habits {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.habit-piece {
  background-color: #fafcff;
  color: #4D4D4D;
  border-radius: 3px;
  margin-bottom: 1px;
  padding: 15px 15px 15px 15px;
  position: relative;
  .title {
    font-size: 1.5em;
    display: inline-block;
    padding-left: 10px;
  }
  .habit-btns {
    float: right;
    padding-right: 15px;
  }
  .days {
    display: inline-block;
  }
  .stats {
    display: inline-block;
    text-align: center;
  }
}

.habit-piece:hover {
  background-color: #f3f5f8;
}


// *** habit days  ***
.days-list {
  list-style-type: none;
  padding-top: 5px;
  display: inline-block;
  :focus{
    outline: 0;
  }
  .completed {
    background-color: #94d29c;
  }
  .completed:hover {
    background-color: #76d07c;
  }
}
.btn-circle {
  border: thin solid #4e4e4e;
  background-color: #fafcff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  margin: 1px;
  display:inline-block;
}

.btn-circle:hover{
  background-color: #d5d5d5;
  cursor: default;
}

// *** habit form ***

.new-habit-area {
  padding: 0px;
}

.new-habit-form {
  background-color: #fafcff;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 1px;
}

.weight-selection {
  margin-left: 20px;
}

.save-selections {
  padding-top: 10px;
}

.cancel-link {
  color: #c7254e;
}


// *** right-side ***

.main-score {
  background-color: #fafcff;
  color: #4D4D4D;
  border-radius: 3px;
}


.this-week {
  text-align: center;
  display: inline-block;
  .score {
    font-size: 3em;
  }
}
.month-avg {
  text-align: center;
  display: inline-block;
  .score {
    font-size: 3em;
  }
}
