/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require shepherd-theme-arrows.css
 *= require typeahead.css
 */


@import "bootstrap";

html {
  background: url('/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  color: #4e4e4e;
  padding-bottom: 25px;
  background: transparent;
}

h1 {
  color: #aaaaaa;
  font-size: 1.75em;
  letter-spacing: 1px;
}

// *** alerts ***
.alert {
  text-align: center;
}

// *** navbar ***

#logo {
  // background-image: url("/assets/logoSym.png");
  height: 30px;
  width: 30px;
  margin-top: -4px;
  // display: inline-block;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

// *** signin/login pages ***

.sign-in-row {
  margin-top: 50px;
  h1 {
    color: #000000;
  }
}

.demo-account-button {
  padding-top: 15px;
}

.left-side-login {
  background-image: url("/assets/tempLogo.png");
  width: 371px;
  height: 257px;

}

#sign_up_form {
  padding-top: 30px;
  #actual-form input {
    background-color: rgba(255, 255, 255, 0.62);
    border: none;
    -moz-box-shadow:    2px 2px 7px 3px rgba(58, 58, 58, 0.4);
    -webkit-box-shadow: 2px 2px 7px 3px rgba(58, 58, 58, 0.4);
    box-shadow:         2px 2px 7px 3px rgba(58, 58, 58, 0.4);
    &::-webkit-input-placeholder {
       color: rgba(157, 157, 157, 0.73);
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: rgba(157, 157, 157, 0.73);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: rgba(157, 157, 157, 0.73);
    }

    &:-ms-input-placeholder {
       color: rgba(157, 157, 157, 0.73);
    }
  }
}

// *** tour ***
.habit-h1 {
  display: inline-block;
}
#tour-btn, .add-new-habit {
  display: inline-block;
  color: #aaaaaa;
  margin-top: 15px;
  font-size: 1.75em;
  font-weight: bold;
  width: 25px;
  height: 25px;
  margin-right: 12px;
  float: right;
  &:hover {
    cursor: pointer;
    color: #5a5a5a;
  }
}

.add-new-habit {
  font-size: 2.5em;
  margin: 5px;
}

// *** habit views ***

.habits {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.habit-piece {
  background-color: #fafcff;
  color: #4D4D4D;
  border-radius: 3px;
  margin-bottom: 1px;
  padding: 15px 15px 15px 15px;
  position: relative;
  .title {
    font-size: 1.5em;
    display: inline-block;
    padding-left: 2px;
    cursor: default;
  }
  .habit-btns {
    float: right;
    padding-right: 0px;
    font-size: 17px;
    .edit-habit-btn {
      display: inline-block;
      &:hover {
        cursor: pointer;
        color: #000000;
      }
    }
    .delete-habit-btn {
      display: inline-block;
      color: #791F1F;
      &:hover {
        cursor: pointer;
        color: #c81010;
      }
    }
  }
  .days {
    display: inline-block;
  }
  .stats {
    display: inline-block;
    width: 248px;
    text-align: right;
    color: #8b8b8b;
  }
  &:hover {
    background-color: #f3f5f8;
  }
}


// *** habit days  ***
.days-list {
  list-style-type: none;
  padding-top: 5px;
  display: inline-block;
  .completed {
    background-color: #249255;
    color: #ffffff;
    &:hover {
      background-color: #196a3a;
    }
  }
}
.btn-circle {
  background-color: #e7e7e7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  color: #a8a8a8;
  padding: 6px 0;
  margin: 1px;
  display:inline-block;
  &:hover{
    background-color: #d5d5d5;
    cursor: pointer;
  }
}

// *** habit form ***

.new-habit-area {
  padding: 0px;
}

.new-habit-form {
  background-color: #fafcff;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 1px;
}

.weight-selection {
  margin-left: 20px;
}

.save-selections {
  padding-top: 10px;
}

.cancel-link {
  color: #c7254e;
}


// *** right-side ***

.right-side {
  width: 350px;
  display: inline-block;
}

.main-score, .report-graphs, .friends-list {
  background-color: #fafcff;
  color: #4D4D4D;
  border-radius: 3px;
  padding: 0px 15px 0 15px;
  h3 {
    text-transform: uppercase;
    font-size: 10px;
    margin: 10px 10px 0 10px;
    letter-spacing: 3px;
    color: #9f9f9f;
  }
}

.main-score {
  height: 110px;
  padding-left: 0;
}

.user-avatar {
  width: 100px;
  display:inline-block;
  float: left;
  & > img {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}


.this-week {
  color: #173A6F;
  text-align: center;
  display: inline-block;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 10px;
  h3 {
    color: #345e7a;
  }
  .score {
    font-size: 3.5em;
    font-weight: bold;
  }
}
.month-avg {
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  .score {
    font-size: 2.75em;
  }
}

.report-graphs {
  padding-top: 1px;
}

.friends-list-box {
  h1 {
    display: inline-block;
  }
  #friend-search-btn {
    display: inline-block;
    float: right;
    margin-top: 6px;
    padding-right: 15px;
    font-size: 2.5em;
    font-weight: bold;
    color: #aaaaaa;
    &:hover {
      color: #5a5a5a;
      cursor: pointer;
    }
  }
  .friends-list {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 350px;
    overflow-y: auto;
    #friend-search {
      padding-bottom: 5px;
    }
  }
}

.friend-list-piece {
  margin-bottom: 2px;
  .friend-score-box {
    display: inline-block;
    .friend-score {
      border-left: thin solid #9f9e9e;
      border-top: thin solid #9f9e9e;
      border-bottom: 3px solid #9f9e9e;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;
      color: #9f9e9e;
      font-size: 30px;
      margin-right: -4px;
    }
    .friend-icon {
      display: inline-block;
      img {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-bottom: 8px;
      }
    }
  }
  .friend-name {
    display: inline-block;
    font-size: 17px;
    color: #9f9e9e;
  }
  &:hover {
    .friend-name {
      font-weight: bold;
      cursor: default;
    }
  }
}
